@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
.attribution{
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

ul li:first-child{
    font-size: 2rem;
    margin-right: 1.5rem;
}

img{
    max-width: 100%;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

body{
    font-size: 14px;
    font-family: "Montserrat" , sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    margin: 0 1.5rem;
}

h1{
    font-family: "Fraunces",sans-serif;
    color: hsl(212, 21%, 14%);
    margin-bottom: 1rem;
    font-size: 2rem;
}

button{
    font-family: inherit;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2,p,.newprice{
    color: hsl(228, 12%, 48%);
   
}

.price{
    font-family: "Fraunces",sans-serif;
    color: hsl(158, 36%, 37%);
}

h2{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1rem;
}

p{
    line-height: 1.5;
    margin-bottom: 2rem;
}

.a1{
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -1rem;
}

.a0 img{
    border-radius: 1rem 1rem 0 0;
}

.container{
    max-width: 600px;
}

i{
    margin-right: 0.5rem;
}

button:hover{
    background-color: hsl(159, 36%, 17%);
}

@media (min-width:640px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .a0{
        border-radius: 0.625rem 0 0 0.625rem;
        height: 100%;

    }
    .a1{
      border-radius: 0 0.625rem 0.625rem 0;
      margin-top: 0;
      padding: 1.5rem 1.5rem 0;
      
    }

    picture{
        height: 100%;
    }
}